<div class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
  <p-panel header="Login">
    <form [formGroup]="loginForm">
      <div class="d-flex flex-column mb-2">
        <input pInputText placeholder="Usuario" class="mb-1" />
        <input
          pInputText
          formComtrolName="pass"
          placeholder="Contraseña"
          [type]="typeInput"
          #inputPass
        />
      </div>
      <p-checkbox formControlName="checkPass" id="check-pass" class="me-2" [binary]="true" />
      <label for="check-pass">{{ 'LOGIN.LABEL_CHECK_PASS' | translate }}</label>
    </form>
  </p-panel>
</div>
